#
# mod-playerbot-bettercombat
#

#    PlayerbotBetterCombat.Enable
#        Description: Enables the `pull` combat-controller command for player-controlled bots.
#        Default:     1 - Enabled
#
PlayerbotBetterCombat.Enable = 1
